body {
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg");
}
section {
  background-color: white;
  margin-top: 50px;
}
.footer {
  width: 100%;

}
h5 {
  text-align: center;
}